/* Styles go here */
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50px;
  top: 10px;
  display: block;
}

li {
  margin: 0;
  padding: 0;
}

.nav {
  display: inline-block;
}

.nav__list {
  display: inline-flex ;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav__link {
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  display: block;
}

a:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  display: block;
  content: "";
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
  position: relative;
  bottom: 4px;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 50px;
  }
  .nav__link {
    margin-left: 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 0 50px;
  }
  .nav__link {
    margin-left: 20px;
  }
}
